<html>
<head><title>Terrible Tichu</title></head>
<body>
<div id="main"></div>

<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<link rel="stylesheet" href="tichu.css"/>
<script type="text/babel" src="JoinGameDialog.js"></script>
<script type="text/babel" src="Game.js"></script>
<script type="text/babel" src="Player.js"></script>
<script type="text/babel" src="Hand.js"></script>

<script type="text/babel" src="tichu.js"></script>
</body>
</html>
