body {
    background-color: #f9f9f9;
    position: fixed;
}

.red-card {
    color: #b82525;
}

.green-card {
    color: #22a126;
}

.blue-card {
    color: #2d47cc;
}

.black-card {
    color: #2d2f3b;
}

.special-card {
    color: goldenrod;
}

.card-back {
    margin: 5px;
    background-color: #e0e8f0;
}

.hand0 {
    background-color: #f0f0f0;
    padding: 8px;

}

.passTarget {
    border: 1px dashed black;
}

.pass-holder-arrow {
    font-size: 24px;
    margin: 4px;
}

.playTarget {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 8px;
}

.card-dragover {
    background-color: #e0e8f0;
}

.playerinfo {
    padding: 2px;
}

.playerinfo-turn {
    background-color: gold;
}

.card-rank {
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    font-size: 24px;
    margin: 4px;
}

.card-suit {
    flex-grow: 1;
    font-size: 40px;
    text-align: center;
    vertical-align: bottom;
}

.thetitle {
    position: absolute;
    top: 0px;
    right: 20px;
}

.action-button {
    margin: 5px 15px 5px 15px;
}

.history-box {
    max-height: 500px;
    overflow-y: scroll;
    margin: 40px;
}