body {
    background-color: #f9f9f9;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
}

.red-card {
    color: #b82525;
}

.green-card {
    color: #22a126;
}

.blue-card {
    color: #2d47cc;
}

.black-card {
    color: #2d2f3b;
}

.special-card {
    color: goldenrod;
}

.card-back {
    margin: 5px;
    background-color: #e0e8f0;
}

.hand0 {
    background-color: #f0f0f0;
    padding: 8px;
    border: 2px transparent;
}

.passTarget {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 8px;
}

.pass-holder-arrow {
    font-size: 24px;
    margin: 4px;
}

.playTarget {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 8px;
}

.card-dragover {
    background-color: #e0e8f0;
}

.playerinfo {
    padding: 2px;
}

.playerinfo-turn {
    background-color: gold;
}

.playerinfo-trickwinner {
    background-color: lightpink;
}

.card-rank {
    font-size: 24px;
    margin: 4px;
}

.card-rank.card-small {
    font-size: 18px;
    margin: 3px;
}

.card-suit {
    font-size: 40px;
    text-align: center;
}

.card-suit.card-small {
    font-size: 28px;
}

.thetitle {
    height: 65px;
}

.thetitle div {
    text-align: right;
}

.overline {
    font-size: smaller;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.5;
}

.thetitle .gameId {
    font-size: x-large;
}

.big {
    font-size: x-large;
}

.status_box {
    height: 65px;
}

.score_box {
    margin: 5px;
}

.wish_box {
    margin: 5px;
}

.action-button {
    margin: 5px 15px 5px 15px;
}

.history-box {
    border-top: 1px solid lightgray;
    max-height: 500px;
    overflow-y: scroll;
    margin: 40px;
}

.action-bar {
    min-height: 46px;
}

.MuiListItemText-root .MuiCard-root {
    display: inline-block;
}