<html>
<head>
  <title>Terrible Tichu</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
</head>
<body style="height: 100%; overflow: hidden">
<div id="main" style="height: 100vh;"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://unpkg.com/@material-ui/core@4.11.0/umd/material-ui.production.min.js"></script>
<script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react-beautiful-dnd@13.0.0/dist/react-beautiful-dnd.js"></script>

<!-- Fonts to support Material Design -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
<!-- Icons to support Material Design -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<link rel="stylesheet" href="tichu.css"/>
<script type="text/babel" src="JoinGameDialog.js"></script>
<script type="text/babel" src="Game.js"></script>
<script type="text/babel" src="Player.js"></script>
<script type="text/babel" src="Hand.js"></script>
<script type="text/babel" src="Card.js"></script>
<script type="text/babel" src="History.js"></script>

<script type="text/babel" src="tichu.js"></script>
</body>
</html>
